[Unit]
Description=Clean trash files older than 30 days

[Service]
Type=oneshot
ExecStart=bash -c 'find "%h/.local/share/Trash" -mindepth 1 -maxdepth 3 -mtime +30 -exec rm -rf {} + 2>/dev/null || true'
